streamlit
numpy
pillow
matplotlib
folium
streamlit-folium
pandas
google-generativeai
xlsxwriter
plotly
scipy
openpyxl
scikit-learn
tifffile
xarray
netCDF4
pyproj
rasterio
geopandas
shapely
scikit-image
